<p id="notice"><%= notice %></p>

<h1>Evaluaciones</h1>

<table>
  <thead>
    <tr>
      <th>Aspecto</th>
      <th>Evaluacion</th>
      <th>Elemento</th>
      <th>Perfil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluaciones.each do |evaluacion| %>
      <tr>
        <td><%= evaluacion.aspecto %></td>
        <td><%= evaluacion.evaluacion %></td>
        <td><%= evaluacion.elemento_id %></td>
        <td><%= evaluacion.perfil_id %></td>
        <td><%= link_to 'Show', evaluacion %></td>
        <td><%= link_to 'Edit', edit_evaluacion_path(evaluacion) %></td>
        <td><%= link_to 'Destroy', evaluacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluacion', new_evaluacion_path %>
