<p id="notice"><%= notice %></p>

<p>
  <strong>Aspecto:</strong>
  <%= @evaluacion.aspecto %>
</p>

<p>
  <strong>Evaluacion:</strong>
  <%= @evaluacion.evaluacion %>
</p>

<p>
  <strong>Elemento:</strong>
  <%= @evaluacion.elemento_id %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @evaluacion.perfil_id %>
</p>

<%= link_to 'Edit', edit_evaluacion_path(@evaluacion) %> |
<%= link_to 'Back', evaluaciones_path %>
