<p id="notice"><%= notice %></p>

<h1>Estrofas</h1>

<table>
  <thead>
    <tr>
      <th>N estrofa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estrofas.each do |estrofa| %>
      <tr>
        <td><%= estrofa.n_estrofa %></td>
        <td><%= link_to 'Show', estrofa %></td>
        <td><%= link_to 'Edit', edit_estrofa_path(estrofa) %></td>
        <td><%= link_to 'Destroy', estrofa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estrofa', new_estrofa_path %>
