<%= form_with(model: rueda, local: true) do |form| %>
  <% if rueda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rueda.errors.count, "error") %> prohibited this rueda from being saved:</h2>

      <ul>
      <% rueda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :administrador_id %>
    <%= form.number_field :administrador_id %>
  </div>

  <div class="field">
    <%= form.label :rueda %>
    <%= form.text_field :rueda %>
  </div>

  <div class="field">
    <%= form.label :ubicacion %>
    <%= form.text_field :ubicacion %>
  </div>

  <div class="field">
    <%= form.label :invitacion %>
    <%= form.text_area :invitacion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
