<p id="notice"><%= notice %></p>

<p>
  <strong>Carpeta:</strong>
  <%= @clasificacion.carpeta_id %>
</p>

<p>
  <strong>Elemento:</strong>
  <%= @clasificacion.elemento_id %>
</p>

<%= link_to 'Edit', edit_clasificacion_path(@clasificacion) %> |
<%= link_to 'Back', clasificaciones_path %>
