<p id="notice"><%= notice %></p>

<p>
  <strong>Ultima:</strong>
  <%= @ultima.ultima %>
</p>

<p>
  <strong>Sha1:</strong>
  <%= @ultima.sha1 %>
</p>

<%= link_to 'Edit', edit_ultima_path(@ultima) %> |
<%= link_to 'Back', ultimas_path %>
