<!-- TITULO -->
<!-- size: determina el tamaño del font -->
<!-- titulo: Es el texto del título -->
<div class="p-3 mb-2 bg-info text-white">
	<h<%= size.to_i+1%>>
		<%= "#{o.class.name}" %>
	</h<%= size.to_i+1%>>
	
	<h<%= size%>>
		<%= "#{show_title(o)}" %>
	</h<%= size%>>

	<% if o.class::column_names.include?('status') %>
		<p><small><%= "#{o.status}" %></small></p>
	<% else %>
		</br>
	<% end %>
</div>