<table class="table table-borderless table-sm  thead-dark">
	<tbody>
		<tr>
			<td>
				<%= image_tag "#{objeto.imagen? ? objeto.imagen.url : 'avatar_defecto.png'}", class: "rounded mx-auto d-block img-thumbnail" %>
			</td>
			<td>
				<h5 class='text-black'><%= objeto.usuario %></h5>
				<small><%= objeto.nombre %></small>
			</td>
			<td>
				<p class='text-muted'>
				<small><small><%= mail_to objeto.email, image_tag('mail_30.png')%><%= link_to image_tag('face_30.png'), objeto.facebook%><%= link_to image_tag('insta_30.png'), objeto.instagram%></small></small>
				</p>
			</td>
		</tr>
	</tbody>
</table>
