<p id="notice"><%= notice %></p>

<p>
  <strong>Autor:</strong>
  <%= @creacion.autor_id %>
</p>

<p>
  <strong>Elemento:</strong>
  <%= @creacion.elemento_id %>
</p>

<%= link_to 'Edit', edit_creacion_path(@creacion) %> |
<%= link_to 'Back', creaciones_path %>
