<%= form_with(model: linea, local: true) do |form| %>
  <% if linea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(linea.errors.count, "error") %> prohibited this linea from being saved:</h2>

      <ul>
      <% linea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :linea %>
    <%= form.text_field :linea %>
  </div>

  <div class="field">
    <%= form.label :ultima %>
    <%= form.text_field :ultima %>
  </div>

  <div class="field">
    <%= form.label :n_parrafo %>
    <%= form.number_field :n_parrafo %>
  </div>

  <div class="field">
    <%= form.label :n_linea %>
    <%= form.number_field :n_linea %>
  </div>

  <div class="field">
    <%= form.label :texto_id %>
    <%= form.number_field :texto_id %>
  </div>

  <div class="field">
    <%= form.label :ultima_id %>
    <%= form.number_field :ultima_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
