<p id="notice"><%= notice %></p>

<p>
  <strong>Linea:</strong>
  <%= @linea.linea %>
</p>

<p>
  <strong>Ultima:</strong>
  <%= @linea.ultima %>
</p>

<p>
  <strong>N parrafo:</strong>
  <%= @linea.n_parrafo %>
</p>

<p>
  <strong>N linea:</strong>
  <%= @linea.n_linea %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @linea.texto_id %>
</p>

<p>
  <strong>Ultima:</strong>
  <%= @linea.ultima_id %>
</p>

<%= link_to 'Edit', edit_linea_path(@linea) %> |
<%= link_to 'Back', lineas_path %>
