<p id="notice"><%= notice %></p>

<p>
  <strong>Equipo:</strong>
  <%= @herencia.equipo_id %>
</p>

<p>
  <strong>Carpeta:</strong>
  <%= @herencia.carpeta_id %>
</p>

<%= link_to 'Edit', edit_herencia_path(@herencia) %> |
<%= link_to 'Back', herencias_path %>
