<p id="notice"><%= notice %></p>

<h1>Integrantes</h1>

<table>
  <thead>
    <tr>
      <th>Equipo</th>
      <th>Paerfil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @integrantes.each do |integrante| %>
      <tr>
        <td><%= integrante.equipo_id %></td>
        <td><%= integrante.paerfil_id %></td>
        <td><%= link_to 'Show', integrante %></td>
        <td><%= link_to 'Edit', edit_integrante_path(integrante) %></td>
        <td><%= link_to 'Destroy', integrante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Integrante', new_integrante_path %>
