<p id="notice"><%= notice %></p>

<p>
  <strong>Equipo:</strong>
  <%= @integrante.equipo_id %>
</p>

<p>
  <strong>Paerfil:</strong>
  <%= @integrante.paerfil_id %>
</p>

<%= link_to 'Edit', edit_integrante_path(@integrante) %> |
<%= link_to 'Back', integrantes_path %>
