<p id="notice"><%= notice %></p>

<h1>Rutas</h1>

<table>
  <thead>
    <tr>
      <th>Clave</th>
      <th>Elemento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rutas.each do |ruta| %>
      <tr>
        <td><%= ruta.clave_id %></td>
        <td><%= ruta.elemento_id %></td>
        <td><%= link_to 'Show', ruta %></td>
        <td><%= link_to 'Edit', edit_ruta_path(ruta) %></td>
        <td><%= link_to 'Destroy', ruta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ruta', new_ruta_path %>
