<div class='row'>
	<% if imagen_portada %>
		<%= image_tag portada_image, class: "mx-auto d-block" unless portada_image.blank? %>
	<% end %>
</div>

<% @coleccion['tema_ayudas'].each do |tema| %>
<div class='row'>
	<div class='col-md-1'></div>
	<div class='col-md-6'>
		</br>
		<h<%=t_size%> class="text-<%=t_color%>"><%= tema.tema_ayuda %></h<%=t_size%>>
		<h<%=d_size%> class='text-<%=d_color%>'>
			<%= sanitize tema.d_detalle %>
		</h<%=d_size%>>
	</div>
	<div class='col-md-4'>
		</br></br></br>
		<%= image_tag tema.ilustracion.half.url, class: "mx-auto d-block" if tema.ilustracion? %>
	</div>
	<div class='col-md-1'></div>
</div>
<% end %>
