<small><%= form.label 'Comentario' %></small></br>
<div class='form-inline'>
	<%= form.text_field(:comentario, size: 65, class: 'form-control' ) %>
</div>
<small><%= form.label :detalle %></small></br>
<%= form.text_area :detalle, size: '66x6' %>

<%= form.hidden_field :elemento_id %>
<%= form.hidden_field :owner_id %>
