<p id="notice"><%= notice %></p>

<p>
  <strong>Ind estructura:</strong>
  <%= @ind_faceta.ind_estructura_id %>
</p>

<p>
  <strong>Ind faceta:</strong>
  <%= @ind_faceta.ind_faceta %>
</p>

<p>
  <strong>Faceta:</strong>
  <%= @ind_faceta.faceta %>
</p>

<%= link_to 'Edit', edit_ind_faceta_path(@ind_faceta) %> |
<%= link_to 'Back', ind_facetas_path %>
