<p id="notice"><%= notice %></p>

<h1>Claves</h1>

<table>
  <thead>
    <tr>
      <th>Clave</th>
      <th>Sha1</th>
      <th>Orden</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @claves.each do |clave| %>
      <tr>
        <td><%= clave.clave %></td>
        <td><%= clave.sha1 %></td>
        <td><%= clave.orden %></td>
        <td><%= link_to 'Show', clave %></td>
        <td><%= link_to 'Edit', edit_clave_path(clave) %></td>
        <td><%= link_to 'Destroy', clave, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clave', new_clave_path %>
