<div class='row'>
	<div class='col-md-8'>
		<%= render partial: '0p/general/titulo', locals: {c: 'elementos', a: nil, titulo: 'Colección', size: '5'} %>
		<%= render partial: '0p/search/form', locals: {path: vistas_path} %>
		<%= paginate @coleccion['elementos'] %>
		<%= render partial: 'elementos/img_index', locals: {coleccion: @coleccion['elementos']} %>
		<%= paginate @coleccion['elementos'] %>
	</div>
	<div class='col-md-4'>
		<% if usuario_signed_in? %>
			<%= render partial: '0p/general/titulo', locals: {c: 'listas', a: nil, titulo: 'Listas', size: '5'} %>
			<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'listas', a: 'index'} %>
		<% end %>
	</div>
</div>
