<!-- CARPETAS Y DESPLIEGUE DE CITA -->
<div class='row'>
	<div class= 'col-md-4'>
  		<%= image_tag(@objeto.ilustracion.quarter.url, class: "mx-auto d-block") if @objeto.ilustracion.present? %></br>
	</div>

	<div class='col-md-4'>
		<% unless @objeto.link.blank? %>
			<h5><%= link_to @objeto.titulo, @objeto.link, target: :blank %></h5>
		<% else %>
			<h5><%= @objeto.titulo %></h5>
		<% end %>
		<small><b><%= "#{@objeto.d_soporte}" %></b></small></br>
		<small><b><%= "#{@objeto.autor}" %></b></small></br>
		<small><b><%= "#{@objeto.interprete}" %></b></small></br>
		</br>

		<% unless @objeto.letra.empty? %>
			<small><%= sanitize @objeto.d_letra %></small>
		<% end %>

	</div>

	<div class='col-md-4'>
		<% @claves.each do |clave| %>
			<%= (clave.elementos.count == 1 ? clave.clave : (link_to clave.clave, clave)) %></br>
		<% end %>
	</div>
</div>
