<% if filtro_conditional_field?(@objeto, 'titulo') %>
	<div class='row'>
		<div class='col-md-12'>
			<small><%= form.label 'Titulo' %></small></br>
			<%= form.text_field(:titulo, class: 'form-control') %>
		</div>
	</div>
<% end %>

<div class='row'>
	<div class='col-md-6'>

		<% if filtro_conditional_field?(@objeto, 'interprete') %>
			<div class='row'>
				<div class='col-md-12'>
					<small><%= form.label 'Interprete' %></small></br>
					<%= form.text_field(:interprete, class: 'form-control') %>
				</div>
			</div>
		<% end %>

		<% if filtro_conditional_field?(@objeto, 'autor') %>
			<div class='row'>
				<div class='col-md-12'>
					<small><%= form.label 'Autor' %></small></br>
					<%= form.text_field(:autor, class: 'form-control') %>
				</div>
			</div>
		<% end %>

		<% if filtro_conditional_field?(@objeto, 'ciudad_autor') or filtro_conditional_field?(@objeto, 'pais') %>
			<div class='row'>
				<div class='col-md-6'>
					<small><%= form.label 'Ciudad Autor' %></small></br>
					<%= form.text_field(:ciudad_autor, class: 'form-control') %>
				</div>
				<div class='col-md-6'>
					<small><%= form.label 'Pais' %></small></br>
					<%= form.text_field(:pais, class: 'form-control') %>
				</div>
			</div>
		<% end %>

		</br>
		<% if filtro_conditional_field?(@objeto, 'genero_autor') %>
			<div class='row'>
				<div class='col-md-12'>
					<%= form.select :genero_autor, @genero_autores, include_blank: '+ Genero Autor' %>
				</div>
			</div>
		<% end %>

		<% if filtro_conditional_field?(@objeto, 'forma_musical') %>
			<div class='row'>
				<div class='col-md-12'>
					<%= form.select :forma_musical, @forma_musicales, include_blank: '+ Forma Musical' %>
				</div>
			</div>
		<% end %>

		<% if filtro_conditional_field?(@objeto, 'estructura_poetica') %>
			<div class='row'>
				<div class='col-md-12'>
					<%= form.select :estructura_poetica, @estructura_poeticas, include_blank: '+ Estructura Poética' %>
				</div>
			</div>
		<% end %>

		<% if filtro_conditional_field?(@objeto, 'soporte') %>
			<div class='row'>
				<div class='col-md-12'>
					<%= form.select :soporte, @soportes, include_blank: '+ Soporte' %>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-12'>
					<small><%= form.label 'Titulo Soporte' %></small></br>
					<%= form.text_field(:soporte_nombre, class: 'form-control') %>
				</div>
			</div>
		<% end %>

		<% if filtro_conditional_field?(@objeto, 'link') %>
			<div class='row'>
				<div class='col-md-12'>
					<small><%= form.label 'Link' %></small></br>
					<%= form.text_field(:link, class: 'form-control') %>
				</div>
			</div>
		<% end %>

		<% if filtro_conditional_field?(@objeto, 'annio_creacion') or filtro_conditional_field?(@objeto, 'annio_estreno') %>
			<div class='row'>
				<div class='col-md-6'>
					<small><%= form.label 'Año Creación' %></small></br>
					<%= form.text_field(:annio_creacion, class: 'form-control') %>
				</div>
				<div class='col-md-6'>
					<small><%= form.label 'Año Estreno' %></small></br>
					<%= form.text_field(:annio_estreno, class: 'form-control') %>
				</div>
			</div>
		<% end %>

		<% if filtro_conditional_field?(@objeto, 'otro_soporte') %>
			<div class='row'>
				<div class='col-md-12'>
					<small><%= form.label 'Otro Soporte' %></small></br>
					<%= form.text_field(:otro_soporte, class: 'form-control') %>
				</div>
			</div>
		<% end %>

	</div>

	<div class='col-md-6'>
		<div class='row'>
			<div class='col-md-12'>
				<small><%= form.label 'Letra' %></small></br>
			  	<%= form.text_area :letra, size: '66x25' %></br>
		 	</div>
		</div>
	</div>
</div>

<p>
	<small><%= form.label 'Ilustracion' %></small></br>

	<% if @objeto.ilustracion.present? %>
  		<%= image_tag(@objeto.ilustracion.half.url) %></br>
	<% else %>
	    <%= form.file_field :ilustracion %>
	    <%= form.hidden_field :ilustracion_cache %>
	<% end %>
</p>

<% if @objeto.ilustracion.present? %>
	<p>
	<label>
	  <%= form.check_box :remove_ilustracion %>
	  Remueve Ilustracion
	</label>
	</p>
<% end %>

<%= form.hidden_field :estado %>
<%= form.hidden_field :perfil_id %>
