<p id="notice"><%= notice %></p>

<h1>Elementos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Letra</th>
      <th>Autor</th>
      <th>Genero</th>
      <th>Pais</th>
      <th>Ciudad autor</th>
      <th>Interprete</th>
      <th>Disco</th>
      <th>Link</th>
      <th>Forma musical</th>
      <th>Annio creacion</th>
      <th>Annio estreno</th>
      <th>Otro soporte</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elementos.each do |elemento| %>
      <tr>
        <td><%= elemento.titulo %></td>
        <td><%= elemento.letra %></td>
        <td><%= elemento.autor %></td>
        <td><%= elemento.genero %></td>
        <td><%= elemento.pais %></td>
        <td><%= elemento.ciudad_autor %></td>
        <td><%= elemento.interprete %></td>
        <td><%= elemento.disco %></td>
        <td><%= elemento.link %></td>
        <td><%= elemento.forma_musical %></td>
        <td><%= elemento.annio_creacion %></td>
        <td><%= elemento.annio_estreno %></td>
        <td><%= elemento.otro_soporte %></td>
        <td><%= link_to 'Show', elemento %></td>
        <td><%= link_to 'Edit', edit_elemento_path(elemento) %></td>
        <td><%= link_to 'Destroy', elemento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Elemento', new_elemento_path %>
