<%= form_with(model: estructura_poetica, local: true) do |form| %>
  <% if estructura_poetica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estructura_poetica.errors.count, "error") %> prohibited this estructura_poetica from being saved:</h2>

      <ul>
      <% estructura_poetica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :estructura_poetica %>
    <%= form.text_field :estructura_poetica %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.number_field :owner_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
