<p id="notice"><%= notice %></p>

<h1>Estructura Poeticas</h1>

<table>
  <thead>
    <tr>
      <th>Estructura poetica</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estructura_poeticas.each do |estructura_poetica| %>
      <tr>
        <td><%= estructura_poetica.estructura_poetica %></td>
        <td><%= estructura_poetica.owner_id %></td>
        <td><%= link_to 'Show', estructura_poetica %></td>
        <td><%= link_to 'Edit', edit_estructura_poetica_path(estructura_poetica) %></td>
        <td><%= link_to 'Destroy', estructura_poetica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estructura Poetica', new_estructura_poetica_path %>
