<p id="notice"><%= notice %></p>

<p>
  <strong>Estructura poetica:</strong>
  <%= @estructura_poetica.estructura_poetica %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @estructura_poetica.owner_id %>
</p>

<%= link_to 'Edit', edit_estructura_poetica_path(@estructura_poetica) %> |
<%= link_to 'Back', estructura_poeticas_path %>
