<p id="notice"><%= notice %></p>

<p>
  <strong>Forma musical:</strong>
  <%= @forma_musical.forma_musical %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @forma_musical.owner_id %>
</p>

<%= link_to 'Edit', edit_forma_musical_path(@forma_musical) %> |
<%= link_to 'Back', forma_musicales_path %>
