<p id="notice"><%= notice %></p>

<h1>Genero Autores</h1>

<table>
  <thead>
    <tr>
      <th>Genero autor</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @genero_autores.each do |genero_autor| %>
      <tr>
        <td><%= genero_autor.genero_autor %></td>
        <td><%= genero_autor.owner_id %></td>
        <td><%= link_to 'Show', genero_autor %></td>
        <td><%= link_to 'Edit', edit_genero_autor_path(genero_autor) %></td>
        <td><%= link_to 'Destroy', genero_autor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Genero Autor', new_genero_autor_path %>
