<p id="notice"><%= notice %></p>

<p>
  <strong>Genero autor:</strong>
  <%= @genero_autor.genero_autor %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @genero_autor.owner_id %>
</p>

<%= link_to 'Edit', edit_genero_autor_path(@genero_autor) %> |
<%= link_to 'Back', genero_autores_path %>
