<%= form_with(model: interprete, local: true) do |form| %>
  <% if interprete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interprete.errors.count, "error") %> prohibited this interprete from being saved:</h2>

      <ul>
      <% interprete.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :interprete %>
    <%= form.text_field :interprete %>
  </div>

  <div class="field">
    <%= form.label :perfil_id %>
    <%= form.number_field :perfil_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
