<p id="notice"><%= notice %></p>

<h1>Interpretes</h1>

<table>
  <thead>
    <tr>
      <th>Interprete</th>
      <th>Perfil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interpretes.each do |interprete| %>
      <tr>
        <td><%= interprete.interprete %></td>
        <td><%= interprete.perfil_id %></td>
        <td><%= link_to 'Show', interprete %></td>
        <td><%= link_to 'Edit', edit_interprete_path(interprete) %></td>
        <td><%= link_to 'Destroy', interprete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interprete', new_interprete_path %>
