<p id="notice"><%= notice %></p>

<p>
  <strong>Interprete:</strong>
  <%= @interprete.interprete %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @interprete.perfil_id %>
</p>

<%= link_to 'Edit', edit_interprete_path(@interprete) %> |
<%= link_to 'Back', interpretes_path %>
