<p id="notice"><%= notice %></p>

<h1>Autores</h1>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Perfil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @autores.each do |autor| %>
      <tr>
        <td><%= autor.autor %></td>
        <td><%= autor.perfil_id %></td>
        <td><%= link_to 'Show', autor %></td>
        <td><%= link_to 'Edit', edit_autor_path(autor) %></td>
        <td><%= link_to 'Destroy', autor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Autor', new_autor_path %>
