<!DOCTYPE html>
<html>
  <head>
    <title><%=nombre%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') if favicon? %>
  </head>

  <body>
    <!--            NAVBAR                     -->
    <%= render partial: '0p/navbar/navbar' %>
    <!--            CONTENIDO + MENU DERECHA   -->
    <div class="container-fluid">
      <%= yield %>          
    </div>
    <!------------------------------------------->
    </br></br></br>
    <%= image_tag foot_image, class: "mx-auto d-block" unless foot_image.blank? %>
    </br></br></br>
  </body>
</html>
